@model Coin.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>



<div class="card-body" style="width: 100%">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailConfirmed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SecurityStamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LockoutEnabled)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccessFailedCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Phone)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Role)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Status)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(model => model.UpdatedAt)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>
                <td>
                    @Html.DisplayFor(model => model.EmailConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(model => model.SecurityStamp)
                </td>
                <td>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => model.PhoneNumberConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(model => model.TwoFactorEnabled)
                </td>
                <td>
                    @Html.DisplayFor(model => model.LockoutEndDateUtc)
                </td>
                <td>
                    @Html.DisplayFor(model => model.LockoutEnabled)
                </td>
                <td>
                    @Html.DisplayFor(model => model.AccessFailedCount)
                </td>
                <td>
                    @Html.DisplayFor(model => model.UserName)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
